[submodule "docker-jessie"]
    path = docker-jessie
    url = git://github.com/dtulyakov/docker-jessie.git

[submodule "docker-shell"]
    path = docker-shell
    url = git://github.com/dtulyakov/docker-shell.git

[submodule "docker-tzabbix"]
    path = docker-tzabbix
    url =  git://github.com/dtulyakov/docker-tzabbix.git

[submodule "docker-jenkins"]
    path = docker-jenkins
    url =  git://github.com/dtulyakov/docker-jenkins.git
